@import "../../styles/variables";


.NotificationsPage {
  max-width: 500px;
  margin: auto;
  padding: 16px;

  h2 {
    margin-bottom: 16px;
  }

  .NotificationItem {
    padding: 12px;
    border-bottom: 1px solid $border;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: $hover;
    }
  }
}
