@import "../../styles/variables";

.ThreadsPage {
  max-width: 500px;
  margin: auto;
  padding: 16px;

  h2 {
    margin-bottom: 16px;
  }
}

.ThreadCard {
  padding: 14px;
  border-bottom: 1px solid $border;

  .User {
    font-weight: 600;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .Actions {
    display: flex;
    gap: 14px;
    font-size: 18px;
    color: $textLight;
  }
}
