.MobileHeader {
  display: none;
}

@media (max-width: 768px) {
  .MobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 56px;
    padding: 0 14px;

    position: fixed;
    top: -5px;
    left: 0;
    right: 0;

    background: #fff;
    // border-bottom: 1px solid #222;
    z-index: 2000;

    i {
      font-size: 22px;
      cursor: pointer;
    }

    .logo {
      font-size: 18px;
      font-weight: 600;
    }

    .icons {
      display: flex;
      gap: 14px;
      font-size: 20px;
    }
  }
}
