// @import "../../styles//Variables";
// @import "../../styles//mixins";


// .AppComponent {
//     display: flex;
//     flex-direction: column;
// }

// @media (max-width: 768px) {
//   .MainCenter {
//     margin-top: 86px;
//   }
// }
